<div class="container">
  <div class="page-header">
    <h1>My First React app</h1>
  </div>
  <div class="row">
    <%= react_component('CommentBox', { comments: @comments.to_json, url: comments_path }) %> 
  </div>
</div>